body {
  background-color: #084B8A; }

.page-header {
  margin-top: 0px; }
  .page-header h2 {
    color: #848484; }

.color-palette {
  height: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 10px 6px -6px #0b3861;
  -moz-box-shadow: 0 10px 6px -6px #0b3861;
  box-shadow: 0 10px 6px -6px #0b3861;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important; }

.btn-sm {
  margin-top: 0em;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important; }

.color-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; }
  .color-box > .thumbnail {
    margin-right: 0.6em;
    margin-left: 0.6em;
    margin-bottom: 0.7em;
    flex-grow: 1;
    width: 2em;
    height: 2em;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important; }
