// Mixins

@mixin border-radius($border-radius) {
    -webkit-border-radius: $border-radius !important;
    -moz-border-radius: $border-radius !important;
    border-radius: $border-radius !important;
}

@mixin container-shadow($shadow-colour) {
    -webkit-box-shadow: 0 10px 6px -6px $shadow-colour;
    -moz-box-shadow: 0 10px 6px -6px $shadow-colour;
        box-shadow: 0 10px 6px -6px $shadow-colour;
}

// Heading text color

$header-text-color: #848484;
$shadow-colour: #086A87;

body{
    //background-color: #01A9DB;
    background-color: #084B8A;
}

.page-header{
    margin-top: 0px;
    h2{
        color: $header-text-color;
    }
}

.color-palette{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    background-color: #FFFFFF;
    @include container-shadow($shadow-colour);
    @include border-radius(2px);
}

.btn-sm{
    margin-top: 0em;
    @include border-radius(2px);
}

.color-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    //align-content: stretch;
    >.thumbnail{
        margin-right: 0.6em;
        margin-left: 0.6em;
        margin-bottom: 0.7em;
        flex-grow: 1;
        width: 2em;
        height: 2em;
        @include border-radius(3px);
    }
}

