// ImageBox component

// Author Sayantan Hore
// Created on 19.08.2014

// --------------------------------


// Reset Everything

*{
    margin: 0em;
    padding: 0em;
}

// Declaring variables

$body-background-color: #084B8A;
$shadow-colour: #0B3861;
$glow-colour: #FFF;
$btn-close-colour: #BDBDBD;

// Mixins

@mixin border-radius($border-radius) {
    -webkit-border-radius: $border-radius !important;
    -moz-border-radius: $border-radius !important;
    border-radius: $border-radius !important;
}

@mixin container-shadow($shadow-colour) {
    -webkit-box-shadow: 0 10px 6px -6px $shadow-colour;
    -moz-box-shadow: 0 10px 6px -6px $shadow-colour;
    box-shadow: 0 10px 6px -6px $shadow-colour;
}

@mixin draggable-glow-border($glow-colour){
    -webkit-box-shadow:0 0 20px $glow-colour !important; 
    -moz-box-shadow: 0 0 20px $glow-colour !important; 
    box-shadow:0 0 20px $glow-colour !important;
}

// Padding body

body{
    border: 0px solid;
    padding: 1em;
    background-color: $body-background-color;
}

.border-glow{
    @include draggable-glow-border($glow-colour);
}



.navbar{
    opacity: 0.3;
}

.outer-image-container{
    border: 0px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    .wrapper{
        padding: 0em;
        margin-right: 1em;
        margin-bottom: 1em;
            
        .thumbnail{
            padding: 0em;
            margin-right: 0em;
            margin-bottom: 0em;
            //width: 12em;
            //height: 12em;
            @include container-shadow($shadow-colour);
            @include border-radius(0px);
            border: 0px solid;
            text-align: center;
            //opacity: 0.3;
            //background-color: #0066CC;
            position: relative;
            .btn-close{
                background-color: #0066CC;
                opacity: 0.5;
                position: absolute;
                //top: 0em;
                //position: absolute;
                padding: 0.3em;
                //line-height: 0.5em;
                font-size: 0.8em;
                font-family: verdana;
                color: $btn-close-colour;
                border: 0px solid; 
            }
            .slider-wrapper{
                width: 100%;
                //top: 5em;
                position: absolute;
                border: 0px solid;
                .slider-container{
                    background: rgba(255, 255, 255, 0.8);
                }
            }

        }
    }
    
}


