html, body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.container-fluid{
	padding-right: 15px;
	margin-top: -25px;
	margin-left: -25px;
	margin-right: 0px;
	background-color: #1C1C1C;
	//margin: 0 auto;
  	//width: 100%;
}
.container-fluid .row{
	padding-right: 0px;
}

.panel{
	margin: 0px;
	padding: 0px;
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.col-md-3 .panel{
	background-color: #2E2E2E;
	border: 0px;
}

#id_image_container .panel-body{
	height: 100%;
	background-color: #F2F2F2;
	overflow-y: scroll;
}

#id_table_color_palette td{
    cursor: pointer;
}


#id_colors_picked .thumbnail{
	cursor: pointer;
	
}

#id_image_container .panel-body .row .col-md-3{
	background-color: #F2F2F2;
	position: relative;
	z-index: 2;
}

#id_colors_picked{
	padding-left: 20px;
    //padding-right: 20px;
}

#id_image_container .panel-body .row .col-md-3 .thumbnail{
	background-color: #fff;
	border: 1px solid;
	border-color: #BDBDBD;
	//position: relative;
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#id_image_container .panel-body .row .col-md-3 .slider{
	//background-color: #A4A4A4;
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
    position: absolute;
    z-index: 1;
    
}

.modal{
	margin-top: 25%;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0px;
    text-align: center;
    margin: auto;
}

.navbar-left
{
    position: absolute;
    width: 100%;
    left: 0px;
    text-align: center;
    margin: auto;
}

.navbar-right
{
    position: absolute;
    width: 100%;
    left: 90%;
    text-align: right;
    margin: auto;
}
.nav-tabs{
	//border-color: #0066cc;
}

.modal-dialog .modal-content .modal-header{
	background-color: #424242;
	border-color: #424242;
	color: #848484;
}

.modal-header{
	//height: 20px;
	//padding: 5px;
}

.modal-body .modal-footer{
	background-color: #2E2E2E;
	border-color: #2E2E2E;
	color: #848484;
}

.nav-tabs.nav-justified > li > a{
	background-color: #2E2E2E;
	border-color: #2E2E2E;
	color: #848484;
}

.nav-tabs.nav-justified > li > a:hover{
	background-color: #424242;
	border-color: #424242;
	color: #848484;
}

.nav-tabs.nav-justified > li.active > a{
	background-color: #2E2E2E;
	border-color: #424242;
}

.nav-tabs.nav-justified > li.active > a:hover{
	background-color: #424242;
	border-color: #424242;
}


.thumbnail{
	background-color: #424242;
	border: 0px;
}

.col-md-9 .panel{
	margin-left: -28px;
	margin-right: 0px;
	//background-color: #2E2E2E;
	background-color: #BDBDBD;
	border: 0px;
}

#id_color_container{
	padding: 5px;
}

.table-responsive{
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.table-condensed{
	width: 100%;
	opacity: 0.8;
}

.btn-modal{
	background-color: #2E2E2E;
	border-color: #424242;
	color: #848484;
}

.btn-custom{
	width: 100%;
	background-color: #2E2E2E;
	border-color: #424242;
	color: #848484;
	margin-top: 100px;
}

.btn-custom, #id_proceed:active {
    width: 100%;
	background-color: #424242;
	outline: none;
	border-color: #424242;
	color: #848484;
}

.btn-custom, #id_proceed:focus {
    width: 100%;
	background-color: #424242;
	outline: none;
	border-color: #424242;
	color: #848484;
}

.btn-custom:hover{
	width: 100%;
	background-color: #424242;
	border-color: #424242;
	color: #848484;
}
